@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.navbar {
  background-color: rgba(1, 1, 1, 0.93);
}
.navbar-toggler, .btn-close {
  color: transparent;
}

.nav-link {
  color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
.banner {
  width: 100%;
}
.texts {
  margin: 1.2rem 2rem;
  width: 80%;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}
.home {
  background: linear-gradient(#FFDE59, 15%, #fff8dc);
  padding-bottom: 1.4em;
}
.kenpo-section {
  background: linear-gradient(#56c1ff, 10%, #daf1ff);
}
.title {
  font-family: 'Reggae One', system-ui, -apple-system;
  font-size: 2em;
}
.subtitle {
  margin-top: 1.2em;
}
p {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin: 2em auto;
  line-height: 1.1em;
}
.wood-section {
  background: linear-gradient(#60e3a4, 15%, #b7fad9);
}
.wood-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
.list-item {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: 0.9rem auto;
  list-style: disc;
}
.social-icons {
  padding: .5rem .5rem;
  border-radius: 50%;
}
.bi-instagram{
  font-size: 2rem;
  color: #00bf63;
}
.copyright {
  font-size: .8rem;
}
@media screen and (min-width: 990px) {
  .justify-content-center {
    justify-content: flex-end!important;
  }
  .nav-link {
    font-size: 1.1rem;
  }
  .nav-link:hover {
    color: #38B6ff;
    font-weight: bold;
  }
  .container-fluid {
    max-width: 80%;
  }

  .kenpo-section {
    flex-direction: row!important;
    align-items: center;
  }
  .kenpo-banner {
    margin: 2em;
    width: 100vw;
  }
  .texts {
    margin: 2rem 3rem;
    width: 100vw;
  }

  .wood-section {
    flex-direction: row-reverse!important;
    align-items: center;
  }
  .wood-banner {
    margin-right: 2em;
    width: 90vw;
  }

  .copyright {
    padding-left:2em;
    width: 100vw;
  }
  .footer-logo {
    width: 25em;
  }
}